@import url('https://fonts.googleapis.com/css2?family=Alata&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --White: hsl(0, 0%, 100%);
    --Black: hsl(0, 0%, 0%);
    --Grey-200: hsl(0, 0%, 85%);
    --ff-alata: 'Alata', sans-serif;
    --ff-josefin: 'Josefin Sans', sans-serif;
}

body{
   min-height: 100vh;
   font-size: 15px;
overflow-x: hidden;
}

ul{
    list-style: none;
}



.container{
   /* border: 2px solid blue; */
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 100px;
}

header{
    background-image: url(assets/desktop/girl-w-vr-goggles.jpg);
    background-size: cover;
    background-repeat: no-repeat;
min-height: 36rem;
padding-bottom: 2rem;
}

/* nav */
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 60px 0;
}

ul{
    display: flex;
    gap: 40px;
    align-items: center;
    color: var(--White);
    font-family: var(--ff-alata);
    font-weight: 400;
}

#hamburger-icon-container{
    display: none;
}

ul li{
    color: var(--White);
    position: relative;
    cursor: pointer;
    transition: color 0.3s ease;
    padding: 0.25rem 0;
}

ul li::after{
    content: "";
    position: absolute;
    bottom: 0;
    left: 58%;
    height: 2px;
    width: 0;
    background-color: var(--White);
    transition: width 0.3s ease;
    transform: translateX(-50%);
}

ul li:hover::after{
    width: 50%;
}

#immersive{
    width: 80%;
    margin: 60px 0;
}

#immersive h1{
border: 3px solid var(--White) ;
font-family: var(--ff-josefin);
font-weight: 300;
color: var(--White);
width: 50%;
font-size: 3.3rem;
word-wrap: break-word;
padding: 1rem 2rem;
}

/* main */
main{
    padding: 100px 0;
}

#interactive-mobile{
    display: none;
}

#section-1{
    position: relative;
}

#text-div{
    position: absolute;
left: 658px;
bottom: 4px;
height: 300px;
max-width: 50%;
display: flex;
flex-direction: column;
justify-content: end;
word-wrap: break-word;
padding: 20px 60px 0 60px;
background-color: var(--White);
}

#text-div h1{
    font-family: var(--ff-josefin);
    font-weight: 300;
    font-size: 3rem;
}

#text-div p{
    font-family: var(--ff-alata);
    font-weight: 400;
color: rgb(165, 164, 164);
line-height: 2;
}

/* section-2 */

#section-2{
    padding-top: 140px;
}

.div-for-creations{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.div-for-creations h1{
    font-family: var(--ff-josefin);
    font-weight: 300;
    font-size: 2.2rem;
}

#desktop-btn{
    border: 1.5px solid var(--Black);
    padding: 10px 50px;
    font-family: var(--ff-alata);
    font-weight: 400;
    letter-spacing: 4px;
}

#desktop-btn:hover{
    cursor: pointer;
    background-color: var(--Black);
    color: var(--White);
}

#mobile-btn{
    display: none;
}

/* grid layout */
#creations-div {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1.5rem;
    padding: 60px 0;
}

.creation-card{
    height: 500px;
    display: flex;
    align-items: flex-end;
    padding: 1rem;
    text-transform: uppercase;
    font-family: var(--ff-josefin);
    font-weight: 400;
    transition: transform 0.3s ;
    background-repeat: no-repeat;
    background-size: cover;
    color: var(--White);
}

.creation-card:hover{
    transform: scale(1.02);
    opacity: 50%;
    cursor: pointer;
    color: var(--Black);
}

.creation-card p{
    /* max-width: 55%; */
    font-size: 1.5rem;
    padding-left: 20px;
    font-weight: 300;
    color: var(--Grey-200);
}

#deep-earth{
    background-image: url(assets/desktop/earth-img.jpg);

}

#night-arcade{
background-image: url(assets/desktop/number100-img.jpg);
}

#soccer-team-vr{
    background-image: url(assets/desktop/person-running.jpg);
    background: linear-gradient(to bottom, black);
}

#the-grid{
    background-image: url(assets/desktop/car-with-mobil-img.jpg);
}

#above-vr{
    background-image: url(assets/desktop/waves-img.jpg);
}

#pocket-borealis{
    background-image: url(assets/desktop/green-light-in-sky-img.jpg);
}

#the-curiosity{
    background-image: url(assets/desktop/space-bot-img.jpg);
}

#fisheye{
    background-image: url(assets/desktop/waves-img-2.jpg);
}
.mobile-btn{
    display: none;
}

footer{
    background-color: var(--Black);
    padding: 50px 0;
}

#footer-inner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--White);
    flex-wrap: wrap;
}

#footer-logo-wrapper{
    max-width: 200px;
padding-bottom: 20px;
}

#footer-logo-wrapper img{
    width: 100%;
}

#footer-right{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 34px;
    color: var(--Grey-200);
    font-family: var(--ff-alata);
    font-weight: 400;
}


#footer-socials{
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
    gap: 20px;
}
@media(max-width: 768px){
    .container{
        max-width: 1100px;
        padding: 0 18px;
    }

    header{
        background-image: url(assets/mobile/girl-with-vr-goggles.jpg);
        min-height: 40rem;
    }

    nav ul{
        display: none;
    }

    #hamburger-icon-container{
        display: block;
        width: 10%;
    }

    #hamburger-icon-container img{
        width: 100%;
    }

    #immersive{
        width: 100%;
    }

    #immersive h1{
    width: 100%;
    font-size: 2.5rem;
    }

    /* main */
    /* section-1 */
#interactive-mobile{
    display: block;
   max-width: 100%;
}

#interactive-desktop{
    display: none;
}

#text-div{
    position: static;
    max-width: 100%;
    text-align: center;
padding: 0;
}

#text-div h1{
    font-family: var(--ff-josefin);
    font-weight: 300;
    font-size: 3rem;
}

#text-div h1 {
font-size: 2.4rem;
}

#text-div p{
line-height: 1.6;
    color: rgb(165, 164, 164);
    padding-top: 20px;

}

/* section-2 */

#section-2{
    padding-top: 60px;
}

#desktop-btn{
    display: none;
}
.div-for-creations{
    justify-content: center;
}

/* Grid Layout */

#creations-div{
    grid-template-columns: 1fr;
    gap: 1rem;

}
.creation-card{
    height: 120px;
}

#deep-earth{
    background-image: url(assets/mobile/earth-img.jpg);

}

#night-arcade{
background-image: url(assets/mobile/number-1000-img.jpg);
}

#soccer-team-vr{
    background-image: url(assets/mobile/person-running-img.jpg);
}

#the-grid{
    background-image: url(assets/mobile/car-with-mobil-img.jpg);
}

#above-vr{
    background-image: url(assets/mobile/green-light-in-sky-img.jpg);
}

#pocket-borealis{
  
        background-image: url(assets/mobile/roads-img.jpg);
}

#the-curiosity{
    background-image: url(assets/mobile/space-bot.jpg);
}

#fisheye{
  background-image: url(assets/mobile/water-waves-img.jpg);
}

.mobile-btn{
    display: block;
        border: 1.5px solid var(--Black);
    padding: 10px 50px;
    font-family: var(--ff-alata);
    font-weight: 400;
    letter-spacing: 4px;
}

.creation-card:hover{
    transform: none;
    /* opacity: 100%; */
    cursor: none;
    color: white;
}

.creation-card p{
    max-width: 31% ;
    font-size: 1.3rem;
    padding-left: 0;
}
/* footer */
#footer-inner{
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

footer ul{
    display: block;
    text-align: center;
}

footer ul li{
   padding-bottom: 14px;
}

footer ul li:hover::after{
   width: 0;
}

#footer-socials{

    justify-content: center;
  
}
}